---
import Header from "./header.astro"
---

<div class="max-w-[96rem] w-full mx-auto relative">
    <Header />
    <video class="w-full h-[36rem] object-cover bg-black" autoplay muted loop playsinline>
        <source src="./museum-preview.mp4" type="video/mp4" />
    </video>
    <div class="absolute bottom-12 w-full px-4 xl:px-0">
        <div class="w-full max-w-7xl mx-auto">
            <h1 class="text-white text-xl sm:text-2xl md:text-5xl font-light tracking-tight">
                СОЗДАЕМ МУЗЫКУ<br/>КОТОРУЮ ТЫ ПРЕДСТАВЛЯЕШЬ
            </h1>
        </div>
    </div>
</div>
